---
import projectImage1 from "../assets/images/project-1.jpg"
import projectImage2 from "../assets/images/project-2.jpg"
import projectImage3 from "../assets/images/project-3.png"
import projectImage4 from "../assets/images/project-4.jpg"
import projectImage5 from "../assets/images/project-5.jpg"
import projectImage6 from "../assets/images/project-6.jpg"
---

<article class="w-full max-w-4xl m-auto flex flex-col gap-8 justify-center items-center">

    <header class="flex flex-col gap-4">
        <h2 class="text-4xl font-extrabold">Perfect local business</h2>
        <p class="font-medium text-balance">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt voluptate architecto quaerat possimus placeat facere tempore vel unde et distinctio neque quidem molestiae autem at quas ab explicabo vitae, laboriosam impedit assumenda quam cumque hic omnis recusandae. Quos iure in laudantium voluptatibus eum voluptates inventore libero molestias autem, atque voluptas modi, mollitia dolore illo officiis nostrum veritatis quasi dolores sint. </p>
    </header>

    <section class="w-full flex flex-row flex-wrap gap-x-4 gap-y-6 items-center justify-center min-[656px]:justify-start
    [&>*]:max-w-56 [&>*]:min-[562px]:max-w-48 [&_h6]:min-[562px]:text-lg [&>*]:flex [&>*]:flex-col [&>*]:gap-2 [&>*]:justify-center [&>*]:items-center">

        <article>
            <header class="w-full">
                <img class="w-full object-cover h-24 rounded-lg" src={projectImage1?.src} alt="">
            </header>
            <div class="[&>h6]:font-bold [&>p]:text-sm [&>p]:text-[#747474]">
                <h6>Restaurants</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus.</p>
            </div>
        </article>

        <article>
            <header class="w-full">
                <img class="w-full object-cover h-24 rounded-lg" src={projectImage2?.src} alt="">
            </header>
            <div class="[&>h6]:font-bold [&>p]:text-sm [&>p]:text-[#747474]">
                <h6>Restaurants</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus.</p>
            </div>
        </article>

        <article>
            <header class="w-full">
                <img class="w-full object-cover h-24 rounded-lg" src={projectImage3?.src} alt="">
            </header>
            <div class="[&>h6]:font-bold [&>p]:text-sm [&>p]:text-[#747474]">
                <h6>Restaurants</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus.</p>
            </div>
        </article>

        <article>
            <header class="w-full">
                <img class="w-full object-cover h-24 rounded-lg" src={projectImage4?.src} alt="">
            </header>
            <div class="[&>h6]:font-bold [&>p]:text-sm [&>p]:text-[#747474]">
                <h6>Restaurants</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus.</p>
            </div>
        </article>

        <article>
            <header class="w-full">
                <img class="w-full object-cover h-24 rounded-lg" src={projectImage5?.src} alt="">
            </header>
            <div class="[&>h6]:font-bold [&>p]:text-sm [&>p]:text-[#747474]">
                <h6>Restaurants</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus.</p>
            </div>
        </article>

        <article>
            <header class="w-full">
                <img class="w-full object-cover h-24 rounded-lg" src={projectImage6?.src} alt="">
            </header>
            <div class="[&>h6]:font-bold [&>p]:text-sm [&>p]:text-[#747474]">
                <h6>Restaurants</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus.</p>
            </div>
        </article>

    </section>  
</article>